@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 32px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

#navbar {
	width: 100%;
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: row;
	margin-bottom: 12px;
	gap: 12px;
}

.box-input {
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.home-btn {
	padding: 8px;
	font-weight: bold;
	cursor: pointer;
	height: 2.5rem;
	border: none;
	border-radius: 6px;
	transition: all .2s linear;
}

.home-btn:hover {
	filter: drop-shadow(0 0 0.1rem #000000);
}

.home-btn:nth-child(1) {
	background: #549fd8;
	color: white
}

.home-btn:nth-child(2) {
	background: #efefef;
	color: black
}

.home-btn:nth-child(3) {
	background: #f99639;
	color: white
}

.form-wrapper {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:items-center
}

.create-form {
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:items-center;
	gap:12px;
}

.input-consulta {
	margin-top:6px;
	border-radius:6px;
	height:2rem!important
}